{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Ubah: {{ Hewan.Nama }}</h3>

            {% for message in messages %}
                {% if message %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}

            <form action="{% url 'ubah_hewan' Hewan.id %}" method="post"enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
        
                <button class="btn btn-primary">Simpan Perubahan</button> 
             <a href="/" class="btn btn-danger">kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}